<script setup lang="ts">
import { ref } from 'vue';

defineProps({
  n: String,
});
let ratingNumber = ref('')
const onSpace = (i: string) => { ratingNumber.value = i;}
</script>

<template>
  <div class="rating-number">
    <input
      type="radio"
      name="rating"
      class="rating-number__chk"
      v-model="ratingNumber"
      :value="n"
      :id="`chk${n}`"
    />
    <label class="rating-number__lbl" :for="`chk${n}`" tabindex="0" @keyup.space="onSpace(n || '')">{{ n }}</label>
  </div>
</template>
<style scoped lang="scss">
$size: 4em;

.rating-number {
  position: relative;
  display: inline-block;

  &__chk {
    display: none;
  }
  &__lbl {
    display: block;
    width: $size;
    height: $size;
    line-height: $size;
    border-radius: 50%;
    transition: all 0.5s ease;
    cursor: pointer;
    background-color: $color-internal-elements;
  }
  &__lbl:hover, &__lbl:focus {
    background-color: $color-primary-btn;
    color: $color-primary-white;
  }

  &__chk:checked + &__lbl {
    background-color: $color-primary-ligth-gray;
    color: $color-primary-white;
  }
}
</style>
