<script setup lang="ts">
import RatingNumbersComponent from "./RatingNumbersComponent.vue";
import { useRouter } from "vue-router";

const router = useRouter();
const thank = () => {
  const selectedRate = document.querySelector('input[name="rating"]:checked') as HTMLInputElement;
  if (selectedRate) {
    router.push({
      name: "thank-you",
      params: { rate: selectedRate.value },
    });
  }
};
</script>

<template>
  <article class="card">
    <div class="card__heading">
      <picture>
        <img src="../assets/icon-star.svg" alt="" class="star" />
      </picture>
      <h1 class="card__title">How did we do?</h1>
    </div>
    <div class="card__body">
      <p class="card__description">
        Please let us know how we did with your support request. All feedback is
        appreciated to help us improve our offering!
      </p>
      <form>
        <RatingNumbersComponent></RatingNumbersComponent>
        <button type="submit" class="card__cta" @click="thank">SUBMIT</button>
      </form>
    </div>
  </article>
</template>

<style scoped lang="scss">
.star {
  padding: 1em;
  border-radius: 50%;
  background-color: $color-internal-elements;
}
.card {
  background-color: $color-primary-dark-blue;
  text-align: left;
  margin: 2em 1em;
  padding: 2em 1em;
  max-width: 350px;
  border-radius: 2em;

  &__title {
    color: $color-primary-white;
  }
  &__description {
    margin-bottom: 2em;
  }
  &__cta {
    width: 100%;
    background-color: $color-primary-btn;
    color: $color-primary-white;
    border-radius: 32px;
    border: none;
    cursor: pointer;
    padding: 15px 32px;
    text-align: center;
    font-family: $text-default-font-family;
    font-weight: 700;
    letter-spacing: 0.5ex;
  }
  &__cta:hover {
    background-color: $color-primary-white;
    color: $color-primary-btn;
    transition: all 0.5s ease;
  }
}

@media screen and (min-width: $md-device) {
  .card {
    margin: 2em auto;
  }
}
</style>
