<script setup lang="ts">
import RatingNumberComponent from "./RatingNumberComponent.vue";
</script>

<template>
  <div class="rating">
    <RatingNumberComponent n="1"></RatingNumberComponent>
    <RatingNumberComponent n="2"></RatingNumberComponent>
    <RatingNumberComponent n="3"></RatingNumberComponent>
    <RatingNumberComponent n="4"></RatingNumberComponent>
    <RatingNumberComponent n="5"></RatingNumberComponent>
  </div>    
</template>
<style scoped lang="scss">
.rating {
  margin-bottom: 1.5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}
</style>