<script setup lang="ts">
defineProps({
  rate: String,
});
</script>

<template>
  <article class="card">
    <div class="card__header">
      <picture>
        <img
          src="../assets/illustration-thank-you.svg"
          alt=""
          class="card__image"
        />
      </picture>
      <div class="card__badge">You selected {{ rate }} out of 5</div>
    </div>
    <div class="card__body">
      <h1 class="card__title">Thank you!</h1>
      <p class="card__description">
        We appreciate you taking the time to give a rating. If you ever need
        more support, don’t hesitate to get in touch!
      </p>
    </div>
  </article>
</template>

<style scoped lang="scss">
.card {
  background-color: $color-primary-dark-blue;
  margin: 2em 1em;
  padding: 2em;
  max-width: 350px;
  border-radius: 2em;
  &__image {
    margin: 2em;
  }
  &__badge {
    display: inline-block;
    background-color: $color-internal-elements;
    color: $color-primary-orange;
    padding: 1ex 2em;
    border-radius: 1em;
    margin-bottom: 1em;
  }
  &__title {
    color: $color-primary-white;
  }
  &__description {
    margin-bottom: 2em;
  }
}

@media screen and (min-width: $md-device) {
  .card {
    margin: 2em auto;
  }
}
</style>
