@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");


//styles
body {
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;  
  min-width: 320px;
  min-height: 100vh;
  font-size: $text-default-font-size;
  font-family: $text-default-font-family;
  color: $text-default-color;
  background-color: $background-color;
}

:root {
  
  line-height: 24px;

  color-scheme: light dark;
}

@media (prefers-color-scheme: light) {

}
