$sm-device: 375px;
$md-device: 800px;
$lg-device: 1440px;

//## Colors
//### Primary
$color-primary-orange: hsl(25, 97%, 53%); //Orange

//### Neutral
$color-primary-white: hsl(0, 0%, 100%); // White
$color-primary-ligth-gray: hsl(217, 12%, 63%); 
$color-primary-medium-gray: hsl(213, 19%, 54%); 
$color-primary-dark-blue: #1e252f; // hsl(213, 19%, 18%); // Very dark blue
$color-internal-elements: #262e38;
$color-primary-very-dark-blue: hsl(216, 12%, 8%); // Very dark blue

$background-color: $color-primary-very-dark-blue;

//##Typography
//### Headings
$title-color: $color-primary-white;

//###Body
$text-default-font-family: "Overpass";

$text-default-color: $color-primary-ligth-gray;
$text-default-font-size: 15px;

//Form
$color-primary-btn: $color-primary-orange;